html {
    box-sizing: border-box;
    font-family: arial, helvetica, sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
}
img {
    /*image never to be wider than its containing element, so 100%*/
    max-width: 100%;
}
